<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfvCkXpQkq6A5bG0tO92V5XDE2KP9ZFsI</string>
	<key>GCM_SENDER_ID</key>
	<string>813667414038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eShopApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>estore-39560</string>
	<key>STORAGE_BUCKET</key>
	<string>estore-39560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813667414038:ios:e424abb385db61754e8537</string>
</dict>
</plist>